{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    What Happens Next
{% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <p>
                Before you compete against two other people, we give you a choice. 
                <br><br>
                You may choose to compete in an environment where the score of each of the
                three players in Part 1 is shown to you before you start the competition.
                We refer to this environment as <B>Firm A.</B>
                <br><br>
                Alternatively, you may choose to compete in an environment where you know only your
                own score in Part 1 and do not know the scores
                of the other two players in Part 1.  We refer to this environment as <B>Firm B.</B>
                <br><br>
                Summary: Firm A provides an environment where you compete after learning about
                your competitors' performance in Part 1.<BR>
                Firm B provides an environment where you only know your own performance from Part 1.
                <br><br>
                Please think carefully about each environment and how it might affect your performance.
                When you feel confident that you understood these instructions, please proceed.
                <br><br>
            </p>
        </body>
    </html>

    <div id="next">
        <button class="btn btn-primary btn-large next-button" style="float: right;">Next</button>
    </div>

{% endblock %}

{% comment %}
 
{% endcomment %}
