{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    What Happens Next
{% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <p>
In the next page, you will decide whether you want to learn the scores that your opponents obtained in Part 1.
                If you choose to learn, they will be shown to you right before you enter the competition.
                Alternatively, you may choose to not know these scores before the competition.
<BR><BR>
Please think carefully about your choice and how it might affect your performance.
                When you feel confident that you understood these instructions, please proceed.
                <br><br>
            </p>
        </body>
    </html>

    <div id="next">
        <button class="btn btn-primary btn-large next-button" style="float: right;">Next</button>
    </div>

{% endblock %}

{% comment %}
 
{% endcomment %}
